/quotes/anth.json
/quotes/astro.json
/quotes/cb.json
/quotes/edwosk.json
/quotes/josh.json
/quotes/mariofan.json
/quotes/meowsor.json
/quotes/omar.json
/quotes/other.json
/quotes/otter.json
/quotes/rover.json
/.env
/music/YoshiAndMePartIII.mp3
/music/YoshiAndMePartII.mp3
/music/YoshiAndMePartI.mp3
/music/YOSHI AND ALT Part III.mp3
/music/YOSHI AND ALT Part II.mp3
/music/YOSHI AND ALT Part I.mp3
/HighScore.txt
/.venv
/.idea
/discord.log
